* {
	scroll-behavior: smooth;
}

body {
	background-color: #000000;
	color: #B0B0B0;
	padding: 0;
	margin: 0;
	font-family: 'Inter', sans-serif;
}

nav {
	display: flex;
	justify-content: center;
}

nav div {
	width: 100%;
	max-width: 1600px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 40px;
}

nav img {
	margin-left: 50px;
}

nav .menu {
	display: flex;
	align-items: center;
	margin-right: 50px;
	list-style-type: none;
}

nav .menu li {
	margin-right: 10px;
}

nav .menu a {
	padding: 10px 20px;
	text-decoration: none;
	color: #B0B0B0;
	transition: all .5s;
}

nav .menu a:hover, nav .menu #curriculo:hover {
	color: white;
	border-color: white;
}

nav .menu #curriculo {
	border: 2px solid #B0B0B0;
}

nav .menu-btn {
	display: none;
}

div.sidebar {
	position: fixed;
	top: 25vh;
	left: 65px;
}

div.sidebar ul {
	margin-left: 5px;
	list-style-type: none;
	margin-bottom: 40px;
	padding: 0;
}

div.sidebar li {
	margin-bottom: 30px;
}

div.sidebar li i {
	color: #B0B0B0;
	transition: color .5s;
}

div.sidebar li .bi-github:hover {
	color: white;
}

div.sidebar li .bi-instagram:hover {
	color: white;
}

div.sidebar li .bi-linkedin:hover {
	color: white;
}

div.sidebar input[type="radio"] {
	margin: 0;
    opacity: 0;
}

div.sidebar label {
	margin-left: -20px;
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
}

div.sidebar input[type="radio"]:checked + label {
    color: white;
}

div.welcome {
	padding-left: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.welcome .text {
	margin-right: -15%;
	display: grid;
	width: 60%;
}

div.welcome h1 {
	margin: 0;
	background: linear-gradient(270deg, rgba(206, 206, 206, 0) 7.48%, #FFFFFF 102.56%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	line-height: 87%;
	font-size: 8vw;
	font-weight: 900;
}

div.welcome p {
	max-width: 60%;
	line-height: 172%;
	margin-bottom: 20px;
}

div.welcome a {
	margin-right: auto;
	background-color: #FFF;
	padding: 10px 40px;
	color: black;
	font-weight: bold;
	text-decoration: none;
}

div.welcome img {
	display: none;
	width: 30%;
	height: auto;
}

div.about {
	width: 100%;
	margin-top: 120px;
	display: flex;
	justify-content: center;
}

div.about h1 {
	color: white;
}

div.about .about-div {
	padding-left: 160px;
	margin-right: 100px;
	max-width: 1600px;
}

div.about .content {
	display: flex;
	align-items: flex-start;
}

div.about .text {
	margin-right: 5%;
	line-height: 172%;
}

div.about .skills {
	display: flex;
	justify-content: space-around;
}

div.about .content img {
	width: 25vw;
	height: auto;
	filter: saturate(0%);
	animation: all .5s;
}

div.about .content img:hover {
	filter: saturate(50%);
}

div.projects {
	width: 100%;
	margin-top: 120px;
	display: flex;
	justify-content: center;
}

div.projects h1 {
	color: white;
}

div.projects .projects-div {
	padding-left: 160px;
	margin-right: 100px;
	max-width: 1600px;
}

div.projects-div .projeto {
	display: flex;
	align-items: center;
	margin-top: 50px;
}

div.projects-div .projeto-2 {
	display: flex;
	flex-direction: row-reverse;
}

div.projects-div .imagem {
	max-width: 450px;
	width: 90%;
	margin-right: 2vw;
}

div.projects-div .text {
	margin-right: 2vw;
}

div.projects-div .projeto img {
	width: 100%;
	height: auto;
}

div.projects-div .outros {
	display: flex;
	margin-top: 100px;
}

div.projects-div .outro {
	display: flex;
	align-items: center;
}

div.projects-div .outro img {
	width: 70%;
}

footer {
	width: 100%;
	margin-top: 120px;
	display: flex;
	justify-content: left;
}

div.footer-div {
	display: grid;
	justify-items: center;
	width: 100%;
	max-width: 1600px;
}

div.footer-div h1 {
	color: white;
}

div.footer-div p {
	text-align: center;
	padding: 0 30vw 0 30vw;
}

div.footer-div #email {
	font-size: 18px;
	color: white;
}

div.redes-sociais {
	display: none;
}

div.footer-div a i {
	color: #B0B0B0;
	margin-top: 10px;
	margin-right: 10px;
	font-size: 24px;
	transition: color .5s;
}

div.footer-div a i:hover {
	color: white;
}

div.footer-div #autor {
	margin-top: 90px;
	margin-bottom: 50px;
	font-size: 12px;
}

@media screen and (max-width: 768px) {
	div.sidebar {
		display: none;
	}

	div.welcome {
		margin-top: 50px;
	}

	div.welcome .text {
		margin-top: 100px;
		text-align: left;
		margin-right: 0;
		width: 85%;
	}

	div.welcome h1 {
		font-size: 9.5vw;
		width: 100%;
	}

	div.welcome a {
		padding: 15px 60px;
		margin-top: 30px;
		margin-right: auto;	
	}

	div.welcome p {
		max-width: 100%;
	}

	div.welcome img {
		display: none;
	}

	div.welcome, div.about .about-div {
		padding: 0;
		margin: 0;
	}

	div.about .about-div {
		width: 85%
	}

	nav .menu {
		display: none;
	}

	nav {
		overflow: hidden;
		margin-top: 0px;
		position: fixed;
		z-index: 2;
		width: 100%;
		background: black;
		top: 0;
		transition: top 0.5s;
	}

	nav div {
		margin-top: 15px;
		background: black;
	}

	nav img {
		margin-left: 30%;
	}

	nav .menu-btn {
		margin: 0 8% 0 auto;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 25px;
		height: 20px;
		cursor: pointer;
		transition: .2s ease-in-out;
		-webkit-tap-highlight-color: transparent;
		/* border: 3px solid #fff; */
	}

	div.menu-btn__burger {
		margin-top: 0;
		width: 25px;
		height: 2px;
		background: #B0B0B0;
		border-radius: 5px;
		box-shadow: 0 2px 5px rgba(255,101,47,0);
		transition: .2s ease-in-out;
	}

	div.menu-btn__burger::before,
	div.menu-btn__burger::after {
		content: '';
		position: absolute;
		width: 25px;
		height: 2px;
		background: #B0B0B0;
		border-radius: 5px;
		box-shadow: 0 2px 5px rgba(255,101,47, 0);
		transition: .2s ease-in-out;
	}
	div.menu-btn__burger::before {
		transform: translateY(-8px);
	}
	div.menu-btn__burger::after {
		transform: translateY(8px);
	}
	/* ANIMATION */
	div.menu-btn.open .menu-btn__burger {
		transform: translateX(-50px);
		background: transparent;
		box-shadow: none;
	}

	div.menu-btn.open .menu-btn__burger::before {
		transform: rotate(45deg) translate(35px, -35px);
		background: white;
	}

	div.menu-btn.open .menu-btn__burger::after {
		transform: rotate(-45deg) translate(35px, 35px);
		background: white;
	}

	nav .open-menu {
		display: flex;
		padding: 0;
		position: fixed;
		flex-direction: column;
		height: 100%;
		width: 100%;
		top: 60px;
		background-color: #000;
	}

	nav .menu li:first-child {
		margin-top: 80px;
	}

	nav .open-menu li {
		text-align: center;
		margin-bottom: 50px;
	}

	div.about .content {
		display: grid;
		justify-items: center;
	}

	div.about .text {
		margin-right: 0;
	}

	div.about .skills ul {
		padding: 0;
	}

	div.about .content img {
		margin-top: 50px;
		width: 70%;
	}

	div.projects .projects-div {
		margin: 0;
		margin-top: 50px;
		padding: 0;
		width: 85%;
	}

	div.projects-div .projeto {
		display: grid;
		justify-items: center;
	}

	div.projects-div .outros {
		display: grid;
		justify-items: center;
	}

	div.projects-div .outro {
		display: grid;
	}

	div.projects-div .outros img {
		display: none;
	}

	div.footer-div p {
		padding: 0 40px;
	}

	div.redes-sociais {
		display: block;
	}
}

@media screen and (max-width: 600px) {

	div.welcome {
		margin-top: 50px;
	}

	div.welcome .text {
		text-align: left;
		margin-right: 0;
		width: 85%;
	}

	div.welcome h1 {
		font-size: 9.5vw;
		width: 100%;
	}

	div.welcome a {
		padding: 15px 60px;
		margin-top: 30px;
		margin-right: auto;	
	}

	div.welcome p {
		max-width: 100%;
	}
}

@media screen and (max-width: 360px) {
	ul {
		list-style-type: none;
	}
}